.card-bigger {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.card-bigger h2 {
  text-align: center;
}

.card-big {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}


.card {
  background: rgba(1, 22, 39, 0.95);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  margin: 5px auto;
  width: 600px;
}

.card > p {
  margin: 20px;
}

.card-smaller {
  background: rgba(1, 22, 39, 0.95);
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  margin: 5px auto;
  width: 700px;
  height: 200px;
}

.card-code {
  height: 350px;
}

.card-code > p {
  margin: 30px;
}

.card-footer .footer-skills{
  display: flex;
  justify-content: space-between;
}
